html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald;
}

body {
    margin-left: 2em;
    margin-right: 2em;
    font-weight: 100;
}

nav ul {
    padding-left: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    text-decoration: underline;
}

nav li:not(:first-child) {
    padding-left: 1em;
}

.rego-close {
  width: 50%;
  float: center;
  clear: both;
}

.half-width {
  width: 30%;
  float: left;
  margin-right: 10px;
}

.half-width:first-of-type {
    padding-right: 1em;
}

h1 {
    margin-bottom: 0.25em;
}

li h3 {
    margin-top: 0;
}

ol {
    padding-left: 0;
    list-style: none;
}

ol li {
  padding-bottom: 2em;
  border-bottom: 1px solid #ababab;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(244, 242, 241);
  margin-bottom: 20px;
  background-color: #00a3a9;
  color: #fff;
  border-bottom: 10px solid #017377;
}

.button-add {
    color: white;
    background: #33cd5f;
    opacity: 1;
    border: 0;
    font-family: Oswald;
    padding: 5px 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.button-add:hover {
  cursor:pointer;
  opacity: 0.75;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}

.button-remove {
    color: white;
    background: #ef473a;
    opacity: 1;
    border: 0;
    font-family: Oswald;
    padding: 5px 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.button-remove:hover {
  cursor:pointer;
  opacity: 0.75;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}
